
<nav class="navMenu">once upon a time...</nav>
<article class="main">

	<aside class="menu">
		<div id="backMenu">backs
			<div><%= image_tag("back-01.png", alt: "01", class: 'stageT draggable resizable') %></div>
			<div><%= image_tag("back-02.png", alt: "02", class: 'stageT draggable resizable') %></div>
			<div><%= image_tag("back-03.png", alt: "03", class: 'stageT draggable resizable') %></div>
			<div><%= image_tag("back-04.png", alt: "04", class: 'stageT draggable resizable') %></div>
			<div><%= image_tag("back-05.png", alt: "05", class: 'stageT draggable resizable') %></div>
			<div><%= image_tag("back-06.png", alt: "06", class: 'stageT draggable resizable') %></div>
		</div>
	</aside>

	<section class="escena">
	</section>
</article>
