<div class="row">
	<h1>bienvenido a ilustra</h1>
</div>
<div class="row">
	<h1>bienvenido a ilustra</h1>
</div>
<div class="row">
	<h1>comienza tu propia aventura</h1>
<div class="login col-xs-4">
	
	<div class="welcome-button"><%= link_to 'entra', new_user_session_path %></div>
	<div class="welcome-button"><%= link_to 'registrate', new_user_registration_path %></div>
	<div class="welcome-button"><%= link_to 'explora' %></div>
</div>
</div>