<div class="row">
	<div class="col-xs-10 col-xs-offset-1 info-text">
		<h2>ilustra ha sido posible gracias a la paciencia de</h2>
		<p>Harek, Fernando, Raúl, Fran e Iván (entre otros) </p>
		<p>muchas gracias a todos</p>
	</div>
</div>
<div class="row col-xs-offset-3">
	<div class="col-xs-8 info-text">		
		<%= link_to "estelapedrero", 'http://estelapedrero.com' %>
	</div>
</div>