<div class="row">
	<p>ilustra ha sido posible gracias a la paciencia de</p>
</div>

<div class="row">
<div class="col-xs-3">
	<%= link_to "estelapedrero.com", 'http://estelapedrero.com' %>
</div>
</div>