<div id="pag-menu" class="col-xs-1">páginas
	<div class="row">
		<button id="previouspage" class="savebutton"><</button>
		<button id="nextpage" class="savebutton">></button>
	</div>
	<div class="row">
		<button id="savepage" class="savebutton">+</button>
		<button id="savebook" class="savebutton">fin</button>
	</div>
</div>	