<div id="pag-menu" class="col-xs-2">	
	<div class="col-xs-12">
		<p>Título:</p>
		<%= @book.title %>
	</div>
	<div class="row botones">
		<button id="previouspage" class="savebutton"><</button>
		<button id="nextpage" class="savebutton">></button>
	</div>
	<div class="row botones">
		<button id="savepage" class="savebutton">+</button>
		<button id="savebook" class="savebutton"><%= link_to 'fin', books_path %></button>
	</div>
</div>	