<section>
	<div class="row">
		<%= render "menuObjetos" %>
		<div class="col-xs-8">
			<div class="row">
				<div class="stage-margin">
					<div class="wrapper col-xs-12">
						<div id="stage" class=" main-stage"></div>
					</div>
					<div class="add-text col-xs-12">
					<%= form_for @page do |p| %>
	   					<%= p.text_area :content, placeholder:"Escribe aquí tu texto", required: true %>
					<% end %>
					</div>
				</div>
			</div>
		</div>
		
		<%= render "menuPaginas" %>
	</div>	
</section>