<div class="row">
	<section>
		<%= render "menuObjetos" %>
		<div class="wrapper col-xs-8">
			<div id="stage" class=" main-stage">
			</div>
		</div>

		<div id="pag-menu" class="col-xs-1">páginas
			<div class="row">
				<button id="savepage" class="savebutton">+</button>
			</div>
			<div class="row">
				<button id="nextpage" class="savebutton">></button>
			</div>
			<div class="row">
				<button id="previouspage" class="savebutton"><</button>
			</div>
			<div class="row">
				<button id="savebook" class="savebutton">fin</button>
			</div>
		</div>	
	</section>
</div>