.centrado{
    text-align:center;
}
.login{
    color:$navyblue;
    background-color: $yellow;
    border-radius:20px;
    border: solid 5px #F25A0F;
    margin:6px auto;
    font-size:18px;
    padding:10px;
    
    a{
    	color:$navyblue;
    	&:hover{
    		text-decoration:none;
    	}
    }
    h3{
        font-size:27px;
        text-align:center;
        font-weight:bold;
    }
}
.field{
	padding:5px;
	em{
		font-size:12px;
	}
    input{
        width:100%;
    }
}