.fullPage{
	div{
		margin:15px auto;
	}
	h1{
		font-size:36px;
		text-align:center;
		p{
			font-size:18px;
		}
	}
}
.textoCuento{
	margin-top:20px;
	text-align:center;
	font-size:24px;
}
.editarCuento{
	font-size:16px;
	text-align:center;
}