#logo{
	img{
	width:200px;
	}
}
#header{
	background: $blue;
	padding-top:20px;
}
nav{
	float:right;
	margin-top: -35px;
}
#top-nav{
	padding: 10px;
	font-size:18px;

	div{
		background: $navyblue;
		display: inline-block;
		color: $yellow;
		padding:5px;
		border-radius:10px;
		margin:0 10px;
	}
	a{
		padding:0 15px;
		color:$yellow;
		&:visited :hover{
			text-decoration:none;
		}
		&:hover{
			color:$orange;
			text-decoration:none;
		}
	}
}