#logo{
	margin:10px 0;
	img{
		width:200px;
	}
}
#header{
	background: $navyblue;
}
nav{
	float:right;
	margin-top: -55px;
}
#top-nav{
	padding: 10px;
	font-size:18px;
	margin-right:5px;

	div{
		background: $blue;
		display: inline-block;
		color: $yellow;
		padding:5px;
		border-radius:10px;
		margin:0 10px;
	}
	a{
		padding:0 15px;
		color:$yellow;
		&:visited :hover{
			text-decoration:none;
		}
		&:hover{
			color:$orange;
			text-decoration:none;
		}
	}
}