section{
	margin:20px 0 5px 0;
}
#stage {
	list-style-type: none;
	border: solid 5px $orange;
	height:500px;
	overflow:auto;
	border-radius:20px;
}
#pag-menu {
	color: $yellow;
	background-color: $blue;
}
#dibujos{
	list-style-type: none;
	li{
	margin:10px;
	}
}
.main-stage{
	background-image: url('back-00.png');
	background-size:cover;
}
.tools{
	position:relative;
}
.delete-button {
	position:absolute;
	top:0;
	left:0;
	background-color: white;
	border: solid 2px $navyblue;
	border-radius:50%;
	height:22px;
	width:22px;
	padding:2px;
	text-align:center;
}
.boton{
	padding:0;
}
.stages{
	height:100px;
	width: 180px;
}
.savebutton{
	background-color: $yellow;
	color:$navyblue;
	border-radius:10px;
	width:100px;
}