section{
	margin-top:15px;
}
#stage {
	list-style-type: none;
	border: solid 3px $orange;
	border-radius:15px;
	font-size:14px;
}
.stage-margin{
	margin:0 20px;
}
.stage-element{
      display: block;
      position: absolute;
      img{
      	width: 120px;
      }
}
.stage-element:hover{
      opacity: 0.5;
    }
#pag-menu {
	color: $yellow;
	div{
		padding:0;
	}
	button{
		margin:2px;
	}
	p{
		text-align:left;
	}
}
.botones{
	text-align:center;
}
.tab-pane{
	ul{
	background-color:white;
	list-style-type: none;
	font-size:14px;
	padding:4px;
	}
	li{
	padding:5px;
	display:inline-block;
	}
}
.wrapper{
	padding-bottom: 50%; /* 3:2 */
	position: relative;
}
.main-stage{
	background-image: url('back-00.png');
	background-size:cover;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
.delete-button {
	color:#ddd;
	font-size:24px;
	&:hover{
		color:$navyblue;
	}
}
.add-text{
		padding:0;
		font-size:20px;		
	textarea{
		color:$navyblue;
		margin-top:10px;
		width:100%;
		border-radius:10px;
		border: solid 3px $orange;
	}
}
#page-content{
	width:90%;
}

.stages{
	height:100px;
	width: 180px;
}
.savebutton{
	background-color: $yellow;
	color:$navyblue;
	border-radius:50%;
	padding:0;
	height:40px;
	width:40px;
	font-weight:bold;
}
.nav-tabs{
	img{
		width:40px;
		height:40px;
	}
}
#menu-characters{
	cursor:pointer !important;
	&:hover{
		opacity:0.5;
	}
}
.tools{
	img{
		width:80px;
	}
}