section{
	margin:20px 0 5px 0;
}
#stage {
	list-style-type: none;
	border: solid 5px $orange;
	border-radius:20px;
	font-size:14px;
}
#pag-menu {
	color: $yellow;
	background-color: $blue;
}
#dibujos{
	list-style-type: none;
	li{
	margin:10px;
	}
}
.wrapper{
	padding-bottom: 44%; /* 3:2 */
	position: relative;
}
.main-stage{
	background-image: url('back-00.png');
	background-size:cover;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
.tools{
	position:relative;
	padding-left:25px;
}
.delete-button {
	background-color: white;
	border: solid 2px $navyblue;
	color:$navyblue;
	border-radius:50%;
	height:22px;
	width:22px;
	padding:0 3px;
}
.boton{
	padding:0;
}
.stages{
	height:100px;
	width: 180px;
}
.savebutton{
	background-color: $yellow;
	color:$navyblue;
	border-radius:50%;
	padding:0;
	height:40px;
	width:40px;
	font-weight:bold;
}