body {
	background-color: $navyblue;
    font-family: 'Architects Daughter';
    color:$yellow;
    font-size: 24px;
}
input{
    border-radius:8px;
}
.actions{
    input{
        background-color: $orange;
        color:$navyblue;
        font-weight:bold;
        border-radius:10px;
        padding:3px;
    }
}
.intro{
    text-align:center;
    height:500px;
    h1{
        font-size:90px;
    }  
}
.btn{
	color:$navyblue;
	background-color:$yellow;
	&:hover{
		background-color:$orange;
	}
}

.info-text {
    text-align:center;
}