body {
	background-color: $blue;
    font-family: 'Architects Daughter';
    color:$yellow;
    font-size: 24px;
}
input{
    border-radius:8px;
}
.actions{
    input{
        background-color: $orange;
        color:$navyblue;
        font-weight:bold;
        border-radius:10px;
        padding:3px;
    }
}
.intro{
    text-align:center;
    height:500px;
    h1{
        font-size:90px;
    }  
}
.btn{
	color:$navyblue;
	background-color:$yellow;
	&:hover{
		background-color:$orange;
	}
}

.info-text {
    text-align:center;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
background-color: white;
border: 1px solid white;
border-bottom-color: transparent;
cursor: default;
}
.nav-tabs{
    li{
        padding:0;
    }
    img{
        widht:60px;
    }
}
.nav-tabs > li > a {
    margin-right: 0;
}