.welcome-button{
	background-color:$yellow;
	border: 3px solid $orange;
	width:200px;
	display:inline-block;
	font-size:21px;
	font-weight:bold;
	padding:5px;
	border-radius: 10px;
	text-align:center;
	margin:15px auto;
	a{
		color:$navyblue;
	}
	div{
		display:inline-block;
		margin:0 10px;
		i{
			font-size:36px;
		}
	}
}
.tale-links{
	font-size:24px;
	div{
		display:inline-block;
		margin:10px;

	}
}