.welcome-button{
	font-size:24px;
	font-weight:bold;
	padding:10px;
	border-radius: 10px;
	text-align:center;
	margin:10px;
	div{
		display:inline-block;
		margin:0 10px;
		i{
			font-size:36px;
		}
	}
}