section{
	margin:20px 0 5px 0;
}
#stage {
	list-style-type: none;
	border: solid 5px #F25A0F;
	height:500px;
	overflow:auto;
	border-radius:20px;
}
#pag-menu {
	color: #FFC400;
	background-color: #1F1659;
}
#dibujos{
	list-style-type: none;
	li{
	margin:10px;
	}
}
.main-stage{
	background-image: url('back-00.png');
	background-size:cover;
}
.tools{
	z-index:5;
	position:relative;
}
.delete-button {
	position:absolute;
	top:0;
	left:0;
	background-color: white;
	border: solid 2px #1d1440;
	border-radius:50%;
	height:22px;
	width:22px;
	padding:2px;
	text-align:center;
}
.coords{
	height:50px;
	width:50px;
	background-color: blue;
}
.boton{
	padding:0;
}