.navMenu{
    height: 10%;
    border: solid 3px red;
    margin: 1%;
    padding:1%;
}
.main {
    position:relative;
}
.menu{
    width: 20%;
    border: solid 3px red;
    display: inline-block;
    margin: 1%;
    position: absolute;
    top:0;
    left:0;
}
.escena {
    height: 500px;
    border: solid 5px black;
    display: inline-block;
    margin: 1%;
}

.trialBox {
    height: 100px;
    width: 100px;
    background-color: yellow;
}
.stages {
    height:100px;
    width: 180px;
}
.login{
    background-color:#ffc400;
    border-radius:20px;
    border: solid 5px #F25A0F;
    margin:50px auto;
}