<div class="row">
	<header>
		<div id="header" class="col-xs-12">
			<div class="row">
				<div id="logo" class="col-xs-3">
					<%= image_tag("logo.png", alt: "logo-ilustra") %>
				</div>
			</div>
			<div class="row">
				<nav>
					<div id="top-nav" class="col-xs-12">
						<% if user_signed_in? %>	
							<div id="book-nav">
								<a href="">mis libros</a>	
								<a href="">nuevo libro</a>	
							</div>
						<% end %>
						<div id="info-nav">
							<a href="">info</a>	
							<a href="">explora</a>	
						</div>
						<div id="user-nav">
							<% if user_signed_in? %>
								<a href=""><%= current_user.name %></a>	
								<a href="">cerrar sesión</a>
							<% else %>
								<a href="">entra</a>	
								<a href="">registrate</a>
							<% end %>
						</div>
						
					</div>
				</nav>
			</div>

		</div>

	</header>
</div>